<div class="controls-help">
    <span>Canvas Controls</span>
    <ul>
        <li>Left click: Select node / Add node</li>
        <li>Right click: Delete node / Deselect node</li>
        <li>Arrow keys: Move selected node</li>
    </ul>
</div>

@code {

}
