:root {
    --color-primary-h: 220;
    --color-primary-s: 70%;
    --color-primary-l: 50%;
    --color-secondary-h: 30;
    --color-secondary-s: 85%;
    --color-secondary-l: 50%;
    --color-tertiary-h: 150;
    --color-tertiary-s: 60%;
    --color-tertiary-l: 45%;
    --color-neutral-h: 0;
    --color-neutral-s: 0%;
    --step-dark-2: -25%;
    --step-dark-1: -15%;
    --step-base: 0%;
    --step-light-1: +15%;
    --step-light-2: +35%;
    --step-light-3: +45%;
    --color-primary-900: hsl(var(--color-primary-h) var(--color-primary-s) calc(var(--color-primary-l) + var(--step-dark-2)));
    --color-primary-700: hsl(var(--color-primary-h) var(--color-primary-s) calc(var(--color-primary-l) + var(--step-dark-1)));
    --color-primary-500: hsl(var(--color-primary-h) var(--color-primary-s) calc(var(--color-primary-l) + var(--step-base)));
    --color-primary-300: hsl(var(--color-primary-h) var(--color-primary-s) calc(var(--color-primary-l) + var(--step-light-1)));
    --color-primary-100: hsl(var(--color-primary-h) var(--color-primary-s) calc(var(--color-primary-l) + var(--step-light-2)));
    --color-secondary-500: hsl(var(--color-secondary-h) var(--color-secondary-s) var(--color-secondary-l));
    --color-tertiary-500: hsl(var(--color-tertiary-h) var(--color-tertiary-s) var(--color-tertiary-l));
    --color-neutral-900: hsl(var(--color-neutral-h) var(--color-neutral-s) calc(var(--color-primary-l) + var(--step-dark-2)));
    --color-neutral-700: hsl(var(--color-neutral-h) var(--color-neutral-s) calc(var(--color-primary-l) + var(--step-dark-1)));
    --color-neutral-500: hsl(var(--color-neutral-h) var(--color-neutral-s) calc(var(--color-primary-l) + var(--step-base)));
    --color-neutral-300: hsl(var(--color-neutral-h) var(--color-neutral-s) calc(var(--color-primary-l) + var(--step-light-1)));
    --color-neutral-100: hsl(var(--color-neutral-h) var(--color-neutral-s) calc(var(--color-primary-l) + var(--step-light-2)));
    --color-neutral-50: hsl(var(--color-neutral-h) var(--color-neutral-s) calc(var(--color-primary-l) + var(--step-light-3)));
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-neutral-50);
    font-family: "Verdana", sans-serif;
    font-weight: 300;
}

header {
    background-color: var(--color-neutral-100);
    position: sticky;
    padding: 16px;
    margin: 0 0 8px 0;
    top: 0;
    border-bottom: 1px solid var(--color-neutral-300);
}

footer {
    background-color: var(--color-neutral-100);
    margin: 8px 0 0 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-neutral-300);
}

canvas {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: thin;
}


.layout-settings {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

    .layout-settings > .form-group {
        width: 100%;
    }

.row {
    display: flex;
    gap: 12px;
    width: 100%;
    max-width: 100%;
}

.layout {
    display: flex;
    height: calc(100vh - 120px);
}

.sidebar {
    width: 280px;
    margin: 0 8px;
    padding: 8px;
    background-color: var(--color-neutral-100);
    overflow-y: auto;
    border-right: 1px solid var(--color-neutral-300);
}

.editor {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#canvasContainer {
    flex: 1;
    position: relative;
    overflow: hidden;
    background: #fff;
    cursor: inherit;
}

    #canvasContainer > canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.editor-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    background-color: var(--color-neutral-100);
    padding: 8px;
    border-bottom: 1px solid var(--color-neutral-300);
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 5px;
        font-size: inherit;
        font-weight: lighter;
    }
}

.form-group-horizontal {
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    gap: 12px;
    align-items: center;

    label {
        font-size: inherit;
        font-weight: lighter;
    }

    input {
        min-width: 0; /* Allow inputs to shrink */
    }
}

.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;

    input[type="checkbox"] {
        flex-shrink: 0;
        margin: 0 8px 0 0;
    }

    label {
        margin-bottom: 0;
        cursor: pointer;
        font-weight: lighter;
    }
}

.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: inherit;
}

.btn {
    font-size: inherit;
    padding: 4px 8px 4px 8px;
    border: 1px solid var(--color-neutral-500);
    border-radius: 4px;
    background-color: var(--color-neutral-300);
    color: var(--color-neutral-900);
    font-weight: 300;

    &:hover {
        background-color: var(--color-neutral-500);
    }

    &:disabled {
        background-color: var(--color-neutral-100);
    }
}

.btn-primary {
    background-color: var(--color-primary-500);
    color: var(--color-neutral-100);
    font-weight: 700;
    border-color: var(--color-primary-900);

    &:hover {
        background-color: var(--color-primary-700);
    }

    &:disabled {
        background-color: var(--color-primary-100)
    }
}    

ul {
    padding: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.settings-group {
    margin: 8px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid var(--color-neutral-300);
    gap: 12px;
    display: flex;
    flex-direction: column;
}

    .settings-group > .form-group {
        width: 100%;
    }

.btn-full {
    width: 100%;
    display: block;
    margin-bottom: 12px;
}

/**/

.region-card {
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    margin-bottom: 4px
}

.region-type {
    text-transform: uppercase;
    color: black;
    padding: 2px 6px;
    border-radius: 4px;
    min-width: 50px;
    text-align: center;
}


.id-input {
    flex: 1;
    border: none;
    font-weight: 600;
    color: black;
    padding: 2px 4px;
    outline: none;
    min-width: 0;
}

.input-grid {
    display: grid;
    gap: 4px;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.row-1 {
    display: grid;
    grid-template: 1fr;
    gap: 4px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.coord-input {
    width: 100%;
    padding: 4px 6px;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.icon {
    width: 14px;
    height: 14px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.btn-delete {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-delete:hover {
        color: red;
        background-color: #fee2e2;
    }

* {
    box-sizing: border-box;
}

