@page "/"
@using Excubo.Blazor.Canvas
@using MinecraftLayoutEditor.WebApp.Components

<PageTitle>Minecraft Layout Editor</PageTitle>

<h1>Minecraft Layout Editor</h1>

Welcome to your new app.

<LayoutSettings @bind-Width="_layout.Width" 
@bind-Height="_layout.Height"
@bind-MirrorEnabled="_layout.MirrorEnabled"
@bind-RotationDeg="_layout.Symmetry.RotationDeg"
@bind-IsHorizontal="_layout.Symmetry.IsHorizontal"
@bind-ShowBlocksEnabled="_layout.ShowBlocksEnabled"
@bind-SelectedNodeType="_layout.SelectedNodeType"
SettingsChanged="OnSettingsChanged"/>

<button type="button" @onclick="OnSchematicCreate">Generate Schematic</button>

<button type="button" @onclick="OnClearLayout"
        disabled="@(!_layout.Graph.Nodes.Any())">
    Clear layout
</button>

<div style="width: fit-content; height: fit-content;"
     @onmouseup="OnMouseUp" @onmousemove="OnMouseMove" @oncontextmenu:preventDefault=true>
    <Canvas @ref="@Canvas"
            width="1000"
            height="1000" />
</div>

<button type="button" @onclick="OnUndo">Undo</button>
