@page "/"
@using Excubo.Blazor.Canvas
@using MinecraftLayoutEditor.WebApp.Components

<PageTitle>Minecraft Layout Editor</PageTitle>

<h1>Minecraft Layout Editor</h1>

<LayoutSettings @bind-Width="_layout.Width" 
@bind-Height="_layout.Height"
@bind-MirrorEnabled="_layout.MirrorEnabled"
@bind-RotationDeg="_layout.Symmetry.RotationDeg"
@bind-IsHorizontal="_layout.Symmetry.IsHorizontal"
@bind-ShowBlocksEnabled="_layout.ShowBlocksEnabled"
@bind-SelectedNodeType="_layout.SelectedNodeType"
SettingsChanged="OnSettingsChanged"/>

<button type="button" @onclick="OnSchematicCreate" disabled="@(!_layout.Graph.Nodes.Any())">
    Generate Schematic
</button>

<button type="button" @onclick="OnClearLayout" disabled="@(!_layout.Graph.Nodes.Any())">
    Clear layout
</button>

<button type="button" @onclick="OnUndo" disabled="@(!_layout.Graph.Nodes.Any())">
    Undo
</button>

<div style="width: fit-content; height: fit-content; outline: none"
     @onmouseup="OnMouseUp" @onmousemove="OnMouseMove" @oncontextmenu:preventDefault=true @onkeyup="OnKeyUp" tabindex="0">
    <Canvas @ref="@Canvas" width="1000" height="1000" />
</div>
